body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: helvetica;
    font-size: 16px;
}

h1, p, .tnc{
    margin: 1em auto;
    text-align: center;
}

.tnc-link{
    color: blue;
}

.tnc-link:hover{
    color: red;
}

form{
    width: 60%;
    max-width: 500px;
    min-width: 200px;
    margin: 0 auto;
}

fieldset{
    border: none;
    max-width: 500px;
    padding: 2rem auto 2rem auto;
    border-bottom: 3px solid #4b4b4f;
}

fieldset:last-of-type{
    border: none;
}

#age-button{
    width:auto
}

.age{
    display: inline;
}

label{
    display: block;
    margin: .5rem auto;
}

input, textarea, select{
    width: 100%;
    margin: 10px 0 0 0;
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: aliceblue;
    min-height: 16px;
}

.inline{
    width: unset;
    margin: 0 .5em 0 0;
    vertical-align: middle;
}

.pointer:hover{
    cursor: pointer;
}

.submit{
    min-width: 70px;
    width: 20%;
    margin: 0 40% 80px 40%;
    padding: 2%;
    
    outline: #f5f6f7;
    font-family: arial;
    font-size: 16px;
    color: #f5f6f7;
    background-color: #1b1b32;
    border: 3px solid #777777;
    border-radius: 18px;
    transition: .5s;
}

.submit:hover{
    cursor: pointer;
    transition: .5s;
    scale: 125%;
    translate: 0 2px;
}