body{
    background-color: black;
    margin: 10% 10% 10% 10%;
}

.background{
    width: 500px;
    height: 600px;
    background-color: red;
    margin: auto;
    padding: 5px 0;
}

.box{
    filter: blur(3px);
}

.top{
    height: 400px;
    width: 430px;
    background-color: rgb(42, 84, 212);
    margin: auto;
    box-shadow: rgb(40, 84, 212);
}

.middle{
    height: 130px;
    width: 420px;
    background-color: rgb(1, 1, 97);
    margin: 10px auto;
}

.bottom{
    height: 50px;
    width: 430px;
    background-color: orangered;
    margin: 10px auto 10px;
}