body{
    background-image: linear-gradient(135deg, white 0%, rgb(96, 117, 211) 10%,rgba(4, 25, 68, 0.9) 60%);
    background-repeat: no-repeat;
    min-height: 800px;
    background-color: rgba(4, 25, 68);
    font-family: Arial;
    color:azure;
    text-align: center;
}

fieldset{
    border: none;
    border-bottom: 3px gray solid;
    border-radius: 0;
    padding-top: 10px;
}

fieldset:last-of-type{
    border-bottom: none;
}

form{
    border-radius: 10px;
    margin: 0px auto 40px auto;
    padding: 0 5% 40px 5%;
    min-width: 300px;
    width: 80%;
}

label{
    display: block;
    margin: 10px;
}

form{
    background-color: rgb(255, 255, 255, .5);
}

.star{
    color: rgb(33, 33, 40);
    font-size: 6vh;
    cursor: pointer;
}

.one, .two, .three, .four, .five{
    color: gold;
}

input, textarea, select{
    border-radius: 12px;
    border: none;
}

.nea, textarea{
    padding-inline-start: 10px;
}

.submit{
    margin-top: 20px;
    font-size: 100%;
    background-color: rgba(4, 25, 68);
    color: whitesmoke;
    border: 4px rgb(77, 76, 76) solid;
    padding: 4px 5%;
    border-radius: 18px;
}

.submit:hover{
    cursor: pointer;
    transition: .5s;
    transform: scale(1.2);
    translate: 0 3px;
}

/*Scroll bar*/

::-webkit-scrollbar{
    width: 10px;

    animation-name: scrollani;
    animation-delay: .5s;
}

::-webkit-scrollbar-track{
    background: rgb(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 10px;
}