body{
    background-image: linear-gradient(135deg, white 0%, rgb(96, 117, 211) 10%,rgba(4, 25, 68, 0.9) 30%);
    background-repeat: no-repeat;
    background-color: rgba(4, 25, 68);
    font-family: Arial;
    color:azure;
    text-align: center;
}

fieldset{
    border: none;
    border-radius: 10%;
}

form{
    border-radius: 10px;
    margin: 0 10% 40px 10%;
    padding-left: 10%;
}

form{
    background-color: rgb(255, 255, 255, .5);
}

.star{
    color: rgb(33, 33, 40);
    font-size: 6vh;
    cursor: pointer;
}

.one, .two, .three, .four, .five{
    color: gold;
}