body{
    background-image: linear-gradient(135deg, white 0%, rgb(96, 117, 211) 10%,rgba(4, 25, 68, 0.9) 30%);
    font-family: Arial;
    color:azure;
    text-align: center;
}

fieldset{
    border: none;
    border-radius: 10%;
}

form{
    background-color: rgb(255, 255, 255, .5);
}

background-image{
    opacity: .1;
}