body{
    padding: 20px;
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1{
    margin-bottom: -10px;
}

#heading{
    font-size: 30px;
    font-family: Cambria;
}

h2{
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: Cambria;
    font-size: 30px;
}

#established{
    font-size: 20px;
    font-style: italic;
}

.menu, footer{
    text-align: center;

    /*centering the div*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgb(234, 169, 85);
    padding-left: 20px; padding-right: 20px;
    padding-top: 1px; padding-bottom: 14px;
    max-width: 500px;
    font-family: sans-serif;
}

.coffee-flavor, .dessert{
    width: 80%;
    text-align: left;
}

.coffee-price, .dessert-price{
    width: 20%;
    text-align: right;
}

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

footer{
    margin-top: -10px;
}

hr{
    border: solid black;
}

.bottom-line{
    margin-top: 30px;
}

a{
    color: black;
}

a:visited{
    color: gray;
}

a:hover{
    color: brown;
}

a:active{
    color: white;
}